canvas{
    background-color: rgb(0, 0, 0);
    color :white;
    cursor: none;
}
body{
    margin: 0;
    padding: 0;
    overflow:hidden;
}
h1{
position:absolute;
right : 20px;
top : 10px;
color: white;
font-family: Arial, Helvetica, sans-serif;
font-weight: 100;
text-transform: capitalize;
}
h2{
    position:absolute;
    left : 50%;
    top : 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: xx-large;
    text-transform: capitalize;
}
.coins{
    position:absolute;
    left: 30%;
    top:30%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: xx-large;
    text-transform: capitalize;

}
.restart{
    position:absolute;
    left: 30%;
    top:50%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: xx-large;
    text-transform: capitalize;

}
